.phpintel
.sass-cache
.scss-cache
scss/.sass-cache/
bower_components
.bower-cache
.bower-registry
.bower-tmp
.idea/
_book
nbproject
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
npm-debug.log
node_modules
.DS_Store
**/.DS_Store
*.map
*.sql
*.tar.gz
*.zip
*.log
.greyhr
Thumbs.db
