@import "~slick-carousel/slick/slick.css";
//@import "~slick-carousel/slick/slick-theme.css";

.row {
	max-width: 1200px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-flow: row wrap;
}

.row .row {
	margin-right: -10px;
	margin-left: -10px;
}

.row .row.collapse {
	margin-right: 0;
	margin-left: 0;
}

.row.expanded {
	max-width: none;
}

.row.expanded .row {
	margin-right: auto;
	margin-left: auto;
}

.row:not(.expanded) .row {
	max-width: none;
}

.row.collapse > .column,
.row.collapse > .columns {
	padding-right: 0;
	padding-left: 0;
}

.row.is-collapse-child,
.row.collapse > .column > .row,
.row.collapse > .columns > .row {
	margin-right: 0;
	margin-left: 0;
}

.column,
.columns {
	flex: 1 1 0;
	padding-right: 10px;
	padding-left: 10px;
	min-width: 0;
}


.small-1 {
	flex: 0 0 8.33333%;
	max-width: 8.33333%;
}

.small-offset-0 {
	margin-left: 0%;
}

.small-2 {
	flex: 0 0 16.66667%;
	max-width: 16.66667%;
}

.small-offset-1 {
	margin-left: 8.33333%;
}

.small-3 {
	flex: 0 0 25%;
	max-width: 25%;
}

.small-offset-2 {
	margin-left: 16.66667%;
}

.small-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}

.small-offset-3 {
	margin-left: 25%;
}

.small-5 {
	flex: 0 0 41.66667%;
	max-width: 41.66667%;
}

.small-offset-4 {
	margin-left: 33.33333%;
}

.small-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.small-offset-5 {
	margin-left: 41.66667%;
}

.small-7 {
	flex: 0 0 58.33333%;
	max-width: 58.33333%;
}

.small-offset-6 {
	margin-left: 50%;
}

.small-8 {
	flex: 0 0 66.66667%;
	max-width: 66.66667%;
}

.small-offset-7 {
	margin-left: 58.33333%;
}

.small-9 {
	flex: 0 0 75%;
	max-width: 75%;
}

.small-offset-8 {
	margin-left: 66.66667%;
}

.small-10 {
	flex: 0 0 83.33333%;
	max-width: 83.33333%;
}

.small-offset-9 {
	margin-left: 75%;
}

.small-11 {
	flex: 0 0 91.66667%;
	max-width: 91.66667%;
}

.small-offset-10 {
	margin-left: 83.33333%;
}

.small-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.small-offset-11 {
	margin-left: 91.66667%;
}

.small-up-1 {
	flex-wrap: wrap;
}

.small-up-1 > .column, .small-up-1 > .columns {
	flex: 0 0 100%;
	max-width: 100%;
}

.small-up-2 {
	flex-wrap: wrap;
}

.small-up-2 > .column, .small-up-2 > .columns {
	flex: 0 0 50%;
	max-width: 50%;
}

.small-up-3 {
	flex-wrap: wrap;
}

.small-up-3 > .column, .small-up-3 > .columns {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}

.small-up-4 {
	flex-wrap: wrap;
}

.small-up-4 > .column, .small-up-4 > .columns {
	flex: 0 0 25%;
	max-width: 25%;
}

.small-up-5 {
	flex-wrap: wrap;
}

.small-up-5 > .column, .small-up-5 > .columns {
	flex: 0 0 20%;
	max-width: 20%;
}

.small-up-6 {
	flex-wrap: wrap;
}

.small-up-6 > .column, .small-up-6 > .columns {
	flex: 0 0 16.66667%;
	max-width: 16.66667%;
}

.small-up-7 {
	flex-wrap: wrap;
}

.small-up-7 > .column, .small-up-7 > .columns {
	flex: 0 0 14.28571%;
	max-width: 14.28571%;
}

.small-up-8 {
	flex-wrap: wrap;
}

.small-up-8 > .column, .small-up-8 > .columns {
	flex: 0 0 12.5%;
	max-width: 12.5%;
}

.small-collapse > .column, .small-collapse > .columns {
	padding-right: 0;
	padding-left: 0;
}

.small-uncollapse > .column, .small-uncollapse > .columns {
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

@media print, screen and (min-width: 48em) {
	.medium-1 {
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}

	.medium-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.medium-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.medium-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.medium-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}

	.medium-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.medium-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.medium-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.medium-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.medium-10 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}

	.medium-11 {
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
	}

	.medium-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.medium-order-1 {
		order: 1;
	}
	.medium-order-2 {
		order: 2;
	}
	.medium-order-3 {
		order: 3;
	}
	.medium-order-4 {
		order: 4;
	}
	.medium-order-5 {
		order: 5;
	}
	.medium-order-6 {
		order: 6;
	}

	.hide-for-medium {
		display: none !important;
	}
}

@media print, screen and (min-width: 64em) {
	.large-1 {
		flex: 0 0 8.33333%;
		max-width: 8.33333%;
	}

	.large-2 {
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
	}

	.large-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.large-4 {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}

	.large-5 {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}

	.large-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.large-7 {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}

	.large-8 {
		flex: 0 0 66.66667%;
		max-width: 66.66667%;
	}

	.large-9 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.large-10 {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}
	.large-11 {
		flex: 0 0 91.66667%;
		max-width: 91.66667%;
	}
	.large-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.large-order-1 {
		order: 1;
	}
	.large-order-2 {
		order: 2;
	}
	.large-order-3 {
		order: 3;
	}
	.large-order-4 {
		order: 4;
	}
	.large-order-5 {
		order: 5;
	}
	.large-order-6 {
		order: 6;
	}
	.hide-for-large {
		display: none !important;
	}
}

.align-left {
	justify-content: flex-start;
}

.align-right {
	justify-content: flex-end;
}

.align-center {
	justify-content: center;
}

.align-justify {
	justify-content: space-between;
}

.align-spaced {
	justify-content: space-around;
}

.align-left.vertical.menu > li > a {
	justify-content: flex-start;
}

.align-right.vertical.menu > li > a {
	justify-content: flex-end;
}

.align-center.vertical.menu > li > a {
	justify-content: center;
}

.align-top {
	align-items: flex-start;
}

.align-self-top {
	align-self: flex-start;
}

.align-bottom {
	align-items: flex-end;
}

.align-self-bottom {
	align-self: flex-end;
}

.align-middle {
	align-items: center;
}

.align-self-middle {
	align-self: center;
}

.align-stretch {
	align-items: stretch;
}

.align-self-stretch {
	align-self: stretch;
}

.align-center-middle {
	justify-content: center;
	align-items: center;
	align-content: center;
}

.shrink {
	flex: 0 0 auto;
	max-width: 100%;
}

@media print, screen and (min-width: 48em) {
	.row .row {
		margin-right: -10px;
		margin-left: -10px;
	}

	.column,
	.columns {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media print, screen and (min-width: 64em) {
	.row .row {
		margin-right: -10px;
		margin-left: -10px;
	}

	.column,
	.columns {
		padding-right: 10px;
		padding-left: 10px;
	}
}

@media screen and (min-width: 80em) {
	.row .row {
		margin-right: -10px;
		margin-left: -10px;
	}

	.column,
	.columns {
		padding-right: 10px;
		padding-left: 10px;
	}
}

.wp-block-column {
	@media screen and (max-width: 599px) {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.news-thumbnail,
.news-details {
	flex: 0 0 100%;
	max-width: 100%;
}

.news-block {
	& > .row + .row {
		margin-top: 30px;
	}
}

.wp-block-gk-blocks-news {
	& + .wp-block-gk-blocks-news {
		margin-top: 30px;
	}
}

.is-style-post-list {
	.news-title {
		margin-top: 0;
	}

	.news-thumbnail {
		flex: 0 0 25%;
		max-width: 25%;
	}

	.news-details {
		flex: 0 0 75%;
		max-width: 75%;
	}
}

.is-style-featured {
	.news-thumbnail,
	.news-details {
		flex: 0 0 100%;
		max-width: 100%;
	}
}

.is-style-thumb-type {
	.row {
		position: relative;
	}

	.news-thumbnail {
		position: relative;
		z-index: 2;
	}

	.news-title {
		margin-bottom: 10px;
		margin-top: 0;
	}

	.news-details {
		bottom: 0;
		left: 0;
		padding: 10px 25px;
		position: absolute;
		width: 100%;
		z-index: 2;

		& > * {
			z-index: 2;
			position: relative;
			color: #fff;
		}

		&::before {
			background: rgba(0, 0, 0, 0.7);
			bottom: 0;
			content: '';
			display: block;
			height: 100%;
			left: 10px;
			position: absolute;
			width: calc(100% - 20px);
			z-index: 1;
		}
	}

	.m-article-featured__excerpt {
		display: none;
	}
}

.view-more-wrap {
	a {
		display: inline-block;
		vertical-align: top;
		margin: 20px 0;
	}
}

.block-slider {
	.blocks-section-inner {
		.wp-block-gk-blocks-news + .wp-block-gk-blocks-news {
			margin: 0;
		}

		& > div[class*="wp-block"] {
			display: inline-block;
			vertical-align: top;
			width: calc(25% - 5px);
		}
	}
}
